<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Same Navbar as in home.html -->
</nav>

<div class="container mt-5">
    <h1>Update Book</h1>
    <form action="/admin/up" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${book.title}" required>
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre" th:value="${book.genre}" required>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" name="author" th:value="${book.author}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" th:text="${book.description}" required></textarea>
        </div>
        <div class="mb-3">
            <label for="total" class="form-label">Total Copies</label>
            <input type="number" class="form-control" id="total" name="total" th:value="${book.total}" required>
        </div>
        <div class="mb-3">
            <label for="available" class="form-label">Total Available Copies</label>
            <input type="number" class="form-control" id="available" name="available" th:value="${book.available }" required>
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Book Image</label>
            <input type="file" class="form-control" id="img" name="img">
        </div>
        <input type="hidden" name="id" th:value="${book.id}">
        <button type="submit" class="btn btn-primary">Update Book</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>